.post {
  position: relative;
  background-color: #c2dcb1;
  border-radius: 10px 10px 0 0;
  padding: 0.5rem;
  margin-bottom: 0.5rem;
  /* width: 600px; */
  /* margin: 0.5rem; */
}

.postCard {
  display: flex;
  justify-content: space-between;
  width: 500px;
}

.postHead {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: aliceblue;
  margin-right: -1rem;
}

.postHead span {
  margin-right: 0.5rem;
}

.postHeadLeft {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-left: 0;
  margin-left: 0;
}
.postFooter {
  display: flex;
  justify-content: flex-start;
  position: relative;
  left: 0.5rem;
  bottom: 3.5rem;
}
.postBody,
textarea {
  height: 100%;
  width: 100%;
  padding-left: 1rem;
}
.postDeleteIcon {
  color: red;
}
.postDeleteIcon:hover {
  transform: scale(1.2);
}

.postEditDoneIcon {
  transform: scale(1.2);
}

.postPartDis {
  color: orange;
  font-family: cursive;
  font-size: 3rem;
}
.postPartDis:hover {
  color: yellow;
  font-size: 3.5rem;
}

.postEditIcon {
  color: blue;
}
.postEditIcon:hover {
  transform: scale(1.2);
}

.showCommentIcon:hover {
  transform: scale(1.2);
}
/* .postBody {
  width: 100%;
  height: 100%;
} */

.postCardLeft {
  width: 100%;
  height: 100px;
  background-color: white;
  position: relative;
  padding-right: 1rem;
}
.postCardPhoto {
  width: 100px;
  height: 100px;
  padding: 0.5rem;
}

.addPost {
  display: flex;
  flex-direction: column;
  width: 60%;
  margin-top: 5rem;
  background-color: #c2dcb1;
}

.addPostForm {
  background-color: aliceblue;
  margin-top: 3rem;
}
.postComments {
  positon: relative;
}

.commentItem {
  width: 95%;
  position: relative;
  background-color: aliceblue;
  margin: 0 0.5rem 0 2rem;
  padding: 0.5rem;
}

.commentHead {
  display: flex;
  justify-content: space-between;
  margin: 0 0.5rem;
  flex-wrap: wrap;
}

.commentHeadLeft .commentHeadRight {
  margin: 0 0.5rem;
}
.commentBody span,
textarea {
  width: 100%;
  height: 100px;
  padding: 1rem;
}

.commentFooter {
  padding: 0 0.5rem;
  height: 10%;
  position: relative;
}
.commentDelete {
  position: absolute;
  right: 0.5rem;
}
.addCommentDone {
  position: absolute;
  right: 0.5rem;
  bottom: 0.5rem;
  color: red;
}

.addComment {
  color: rgb(255, 196, 0);
  position: absolute;
  bottom: -0.5rem;
  right: -0.5rem;
}
.addComment:hover {
  transform: scale(1.5);
}
