.post {
  position: relative;
  background-color: aquamarine;
  border-radius: 10px 10px 0 0;
  padding: 0.5rem;
  margin: 0.5rem;
}

.postCard {
  display: flex;
  justify-content: space-between;
  /* background-color: aquamarine; */
  /* margin: 1rem; */
}

.postHead {
  display: flex;
  justify-content: space-between;
}

.postHeadLeft {
  position: relative;
  /* border-radius: 50%; */
}
.postFooter {
  display: flex;
  justify-content: flex-start;
  position: absolute;
  left: 0.5rem;
  bottom: 0.5rem;
}
.postBody textarea {
  height: 100%;
  width: 100%;
}

/* .postCardPhoto {
  width: 100%;
  height: 100%;
} */

.postCardLeft {
  width: 100%;
  height: 150px;
  background-color: white;
  position: relative;
  padding-right: 1rem;
}
.postCardPhoto {
  width: 200px;
  height: 150px;
  padding: 0.5rem;
}

.addPost {
  display: flex;
  flex-direction: column;
  width: 60%;
  margin-top: 5rem;
  background-color: aquamarine;
}

.addPostForm {
  background-color: aliceblue;
  margin-top: 3rem;
}
.postComments {
  positon: relative;
}

.commentItem {
  width: 95%;
  position: relative;
  background-color: aliceblue;
  margin: 0 0.5rem 0 2rem;
  padding: 0.5rem;
}

.commentHead {
  display: flex;
  justify-content: space-between;
  margin: 0 0.5rem;
}

.commentHeadLeft .commentHeadRight {
  margin: 0 0.5rem;
}
.commentBody span,
textarea {
  width: 100%;
  height: 100px;
  padding: 1rem;
}

.commentFooter {
  padding: 0 0.5rem;
  height: 10%;
  position: relative;
}
.commentDelete {
  position: absolute;
  right: 0.5rem;
}
.addCommentDone {
  position: absolute;
  right: 0.5rem;
  bottom: 0.5rem;
  color: red;
}

.addComment {
  position: absolute;
  bottom: -0.5rem;
  right: -0.5rem;
}
